<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>


    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/dataTables.bootstrap4.min.css"> 
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>

    <script src="~/js/custom.js"></script>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
    
    @RenderSection("Styles", required: false)
</head>
<body>

        <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a asp-action="Index" asp-controller="Home" asp-area="Staff" class="logo">
                    <img src="~/assets/img/logo.png" width="35" height="35" alt=""> <span>Hospital</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
               
              
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="~/assets/img/user.jpg" width="24" alt="">
							<span class="status online"></span>
						</span>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>@User.Identity.Name</span>
                        }
                       
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" asp-action="MyProfile" asp-controller="Home" asp-area="Staff">My Profile</a>
                        <a class="dropdown-item" asp-action="EditProfile" asp-controller="Home" asp-area="Staff">Edit Profile</a>
                        <a class="dropdown-item" asp-action="Settings" asp-controller="Home" asp-area="Staff">Settings</a>
                        <a class="dropdown-item" asp-action="LogOut" asp-controller="Home" asp-area="Staff">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-action="MyProfile" asp-controller="Home" asp-area="Staff">My Profile</a>
                    <a class="dropdown-item" asp-action="MyProfile" asp-controller="Home" asp-area="Staff">Edit Profile</a>
                    <a class="dropdown-item" asp-action="MyProfile" asp-controller="Home" asp-area="Staff">Settings</a>
                    <a class="dropdown-item" asp-action="LogOut" asp-controller="Home" asp-area="Staff">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a asp-action="Dashboard" asp-controller="Home" asp-area="Staff"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						
                        <li >
                            <a asp-action="PatientRegistration" asp-controller="Registration" asp-area="Staff"><i class="fa fa-wheelchair"></i> <span>Patient Registration</span></a>
                        </li>
                       
						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> OPD Transaction </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
                                <li><a asp-action="OPDRegistration" asp-controller="OPDTransaction" asp-area="Staff">OPD Registration</a></li>
                                <li><a asp-action="OPDReports" asp-controller="OPDTransaction" asp-area="Staff">OPD Reports</a></li>
                            </ul>
						</li>
                      
						<li class="submenu">
							<a href="#"><i class="fa fa-money"></i> <span> Receipt Transaction </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
                                <li><a asp-action="CashReceipt" asp-controller="ReceiptTransaction" asp-area="Staff">Cash Receipt</a></li>
								<li><a asp-action="CashSummary" asp-controller="ReceiptTransaction" asp-area="Staff">Cash Summary</a></li>
							</ul>
						</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-bed"></i> <span> IPD Transaction </span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-action="IPDRegistration" asp-controller="IPDTransaction" asp-area="Staff">IPD Registration</a></li>
                                <li><a asp-action="RoomBedStatus" asp-controller="IPDTransaction" asp-area="Staff">Room/Bed Status</a></li>
                                <li><a asp-action="IPDPatientList" asp-controller="IPDTransaction" asp-area="Staff">IPD Patient List</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">SetUp</li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-laptop"></i> <span> Components</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a asp-action="DoctorSetup" asp-controller="Components" asp-area="Staff">Doctor SetUp</a></li>
                               
                            </ul>
                        </li>
                        <li class="menu-title">Elements</li>
                        <li >
                            <a asp-action="Doctors" asp-controller="Element" asp-area="Staff"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       
    </div>





       <div>
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
        @await RenderSectionAsync("Scripts", required: false)

       </div>
    <script>
        $(document).ready(function () {
            // Get the current URL pathname
            var path = window.location.pathname;

            // Function to check if a path matches the href attribute
            function checkActive(path, href) {
                return path === href;
            }

            // Loop through each <a> element in the sidebar menu
            $('#sidebar-menu a').each(function () {
                // Get the href attribute of the <a> element
                var href = $(this).attr('href');

                // Check if the href attribute matches the current URL pathname
                if (checkActive(path, href)) {
                    // Remove 'active' class from all <li> elements
                    $('#sidebar-menu li').removeClass('active');

                    // Add the 'active' class to the parent <li> element
                    $(this).closest('li').addClass('active');

                    // If the <li> element is inside a submenu, add the 'open' class to the submenu
                    var submenu = $(this).closest('.submenu');
                    if (submenu.length) {
                        submenu.addClass('open');
                        submenu.children('ul').show(); // Ensure the submenu is displayed
                    }
                }
            });
        });
    </script>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
 <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/js/custom.js"></script>
   

</body>
</html>
