<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hospital</title>


    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/custom.js"></script>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
</head>
<body>

        <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
                <a asp-action="AppointmentBooking" asp-controller="Appointment"  class="logo">
                    <img src="~/assets/img/logo.png" width="35" height="35" alt=""> <span>Hospital</span>
				</a>
			</div>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown d-none d-sm-block">
                    <a asp-action="AboutUs" asp-controller="Appointment" class="dropdown-toggle nav-link btnUhidLogIn"><i class="fa fa-info-circle"></i> About Us</a>
                    
                </li>
                <li class="nav-item dropdown d-none d-sm-block">
                    <a asp-action="LabReport" asp-controller="Appointment" class="dropdown-toggle nav-link"><i class="fa fa-id-badge"></i> Lab Report</a>
                </li>
               
            </ul>
        </div>
  
       
    </div>


    

       <div>
        <main role="main" class="pb-2 ml-5 ">
            @RenderBody()
        </main>
        @await RenderSectionAsync("Scripts", required: false)

       </div>
        
    <div class="sidebar-overlay" data-reff=""></div>
   
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
  
    <script src="~/assets/js/app.js"></script>
    <script src="~/js/custom.js"></script>


</body>
</html>
