<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportingAlternative.Properties.Settings.MedicareAppointmentDbConnectionString"
            connectionString="Data Source=DESKTOP-772ROET;Initial Catalog=MedicareAppointmentDb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>