@{
    Layout = "_NoLayout";
}


@if (TempData["LogInMsge"] != null)
        {
            <script>
                alert('@TempData["LogInMsge"]')
            </script>
        }
    
    @model AccountViewModel
 
                <div class="account-box">
                    <form asp-action="LogIn" asp-controller="Home" asp-area="Staff" method="post" >
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="account-logo">
                            <a href=""><img src="~/assets/img/logo.png" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Username or Email</label>
                            <input asp-for="Username" type="text" autofocus="" class="form-control">
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input asp-for="Password" type="password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Shift:</label>
                            <div class="col-md-8">
                                <select asp-for="Shift" class="form-control">
                                    <option disabled selected>Select Shift</option>
                                    <option value="morning" >Morning</option>
                                    <option value="day">Day</option>
                                    <option value="evening">Evening</option>
                                </select>
                                <span asp-validation-for="Shift" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Department:</label>
                            <div class="col-md-8">
                                <select asp-for="Department" class="form-control">
                                    <option disabled selected>Select Department</option>
                                    <option value="admin">Administration</option>
                                    <option value="reception">Reception</option>
                                    <option value="pharmacy">Pharmacy</option>
                                </select>
                                <span asp-validation-for="Department" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="form-group text-right">
                            <a href="forgot-password.html">Forgot your password?</a>
                        </div>
                        
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary account-btn">Login</button>
                        </div>
                        <div class="text-center register-link">
                            Don’t have an account? <a href="register.html">Register Now</a>
                        </div>
                    </form>
                </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
