
@model AccountViewModel
@inject CommonUtility utils
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">User Setup</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card-box">
                    <h4 class="card-title">-</h4>
                    <form asp-action="UserSetup" asp-controller="Components" asp-area="Staff" method="post">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Username:</label>
                            <div class="col-md-9">
                                <input asp-for="Username" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Password:</label>
                            <div class="col-md-9">
                                <input asp-for="Password" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Department:</label>
                            <div class="col-md-9">
                                <select asp-for="Department" class="form-control">
                                    <option disabled selected>Select Department</option>
                                    <option value="admin">Administration</option>
                                    <option value="reception">Reception</option>
                                    <option value="lab">Laboratory</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
            @if (Model != null)
            {
                if (Model.UserList != null)
                {
                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="card-title">User List</h4>
                            <table class="table table-striped custom-table mb-0">
                                <thead>
                                <tr>
                                    <th>UserId</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Department</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.UserList)
                                    {
                                        <tr>
                                            <td>@item.UserId</td>
                                            <td>@item.Username</td>
                                            <td>@item.Password</td>
                                            <td>@item.Department</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
          
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}