<link rel = "stylesheet" href = "https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
@model OPDViewModel
@inject CommonUtility utils

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-5">
                <h4 class="page-title">Cash Summary</h4>
            </div>
            <div class="col-sm-8 col-7 text-right m-b-30">
                <a asp-action="OPDRegistration" asp-controller="OPDTransaction" asp-area="Staff" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> OPD Registration</a>
            </div>
        </div>
        <form asp-action="OPDReports" asp-controller="OPDTransaction" asp-area="Staff" method="POST">

            <div class="row filter-row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-12">
                    <div class="form-group form-focus select-focus">
                        <label class="focus-label">Pay Mode</label>
                        <select class="select floating"  asp-for="PayType">
                            <option value="all">--All--</option>
                            <option value="cash">Cash</option>
                            <option value="insurance">Insurance</option>
                            <option value="online">Online</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-12">
                    <div class="form-group form-focus select-focus">
                        <label class="focus-label">Users</label>
                        <select class="select floating" asp-items="@utils.GetUsers()" asp-for="CreatedByUser">
                            <option value="all"> -- All -- </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-12">
                    <div class="form-group form-focus">
                        <label class="focus-label">From</label>
                        <input type="date" class="form-control floating" asp-for="FromDateFilter">
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-12">
                    <div class="form-group form-focus">
                        <label class="focus-label">To</label>
                        <input type="date" class="form-control floating" asp-for="ToDateFilter">
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 col-12">
                    <button class="btn btn-success btn-block" type="submit"> Search </button>
                </div>
            </div>

        </form>


        @if (Model != null)
        {
            @await Html.PartialAsync("_OPDReportsPartial", Model.opdReports)

        }

    </div>
</div>

    @section Scripts {

        @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        }
}
