

@model PaymentViewModel


    <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" id="myForm" method="POST">
 <input type="hidden" id="amount" name="amount" value=@Model.amount required>
 <input type="hidden" id="tax_amount" name="tax_amount" value =0 required>
 <input type="hidden" id="total_amount" name="total_amount" value=@Model.totalAmount required>
 <input type="hidden" id="transaction_uuid" name="transaction_uuid" value=@Model.purchaseId required>
 <input type="hidden" id="product_code" name="product_code" value="EPAYTEST" required>
 <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" required>
 <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
 <input type="hidden" id="success_url" name="success_url" value="@Model.successUrl" required>
 <input type="hidden" id="failure_url" name="failure_url" value="@Model.failureUrl" required>
    <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
 <input type="hidden" id="signature" name="signature" value="@Model.signature" required>
 <input value="hidden" type="submit">
 </form>

<script>
    window.onload = function () {
        document.getElementById("myForm").submit();
    };
</script>

